# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Uczenie\str to int\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
